## 4.6 Merging and exporting data

In [2]:
import pandas as pd

In [4]:
import os

In [6]:
# Load the DataFrame from the pickle file
df_merged = pd.read_pickle(r"C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl")

In [8]:
df_merged.shape

(32434489, 13)

In [10]:
df_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [12]:
df_prds = pd.read_csv(r"C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Prepared Data\products cleaned.csv")

In [14]:
df_prds.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

Looking at the overview of both dataframes, I can see that product_id is a mutual column. Let's try inner join.

In [27]:
df_merged.merge(df_prds, on='product_id', how='inner', indicator='merge_indicator')

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator
0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both
1,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,3421081,2977660,206209,prior,13,1,12,7.0,False,14197,5,1,both,Tomato Paste,9,9,5.6,both
32434208,3421081,2977660,206209,prior,13,1,12,7.0,False,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32434209,3421081,2977660,206209,prior,13,1,12,7.0,False,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32434210,3421081,2977660,206209,prior,13,1,12,7.0,False,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32434211,3421081,2977660,206209,prior,13,1,12,7.0,False,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

Confirm the results of the merge using the merge flag.

In [30]:
merged_df = df_merged.merge(df_prds, on='product_id', how='inner', indicator='merge_indicator')

In [32]:
merged_df['merge_indicator'].value_counts()

merge_indicator
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [34]:
merged_df_outer = df_merged.merge(df_prds, on='product_id', how='outer', indicator='merge_indicator')

In [36]:
merged_df_outer['merge_indicator'].value_counts()

merge_indicator
both          32434212
left_only         2029
right_only          11
Name: count, dtype: int64

As we can see the different values under merge_indicator with the outer join, we can say that there is no full match between the two dataframes.

In [47]:
# export the data in pickle format
merged_df.to_pickle(os.path.join(r"C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Prepared Data", 'ords_prods_merge.pkl'))