In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# define function
def add_num(x,y) :
 sum = x+y
 return sum

In [3]:
add_num (9,11)

20

In [4]:
x = sum(9, 11)

TypeError: 'int' object is not iterable

In [ ]:
x = sum([9, 11])

In [ ]:
x

In [20]:
# Load the DataFrame from the pickle file
ords_prods_merge = pd.read_pickle(r"C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merge.pkl")

In [22]:
df = ords_prods_merge[:1000000]

In [24]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [ ]:
df['price_range'] = df.apply(price_label, axis=1)
#creating a price range column

In [ ]:
df['price_range'].value_counts(dropna = False)

In [ ]:
df['prices'].max()

In [ ]:
df['prices'].min()

In [ ]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [ ]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
df['price_range_loc'].value_counts(dropna = False)

In [ ]:
ords_prods_merge['order_dow'].value_counts(dropna = False)

In [26]:
result = []

for value in ords_prods_merge["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

#creating the busiest day column

result

In [28]:
ords_prods_merge['busiest day'] = result

In [76]:
ords_prods_merge

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_order,product_id,...,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator,busiest day,busiest days,busiest_period_of_day
0,0,2539329,1,prior,1,2,8,NaN,True,196,...,0,both,Soda,77,7,9.00,both,Regularly busy,Regularly busy,Average orders
1,0,2539329,1,prior,1,2,8,NaN,True,14084,...,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.50,both,Regularly busy,Regularly busy,Average orders
2,0,2539329,1,prior,1,2,8,NaN,True,12427,...,0,both,Original Beef Jerky,23,19,4.40,both,Regularly busy,Regularly busy,Average orders
3,0,2539329,1,prior,1,2,8,NaN,True,26088,...,0,both,Aged White Cheddar Popcorn,23,19,4.70,both,Regularly busy,Regularly busy,Average orders
4,0,2539329,1,prior,1,2,8,NaN,True,26405,...,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.00,both,Regularly busy,Regularly busy,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,3421081,2977660,206209,prior,13,1,12,7.00,False,14197,...,1,both,Tomato Paste,9,9,5.60,both,Regularly busy,Regularly busy,Most orders
32434208,3421081,2977660,206209,prior,13,1,12,7.00,False,38730,...,0,both,Brownie Crunch High Protein Bar,3,19,5.90,both,Regularly busy,Regularly busy,Most orders
32434209,3421081,2977660,206209,prior,13,1,12,7.00,False,31477,...,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.20,both,Regularly busy,Regularly busy,Most orders
32434210,3421081,2977660,206209,prior,13,1,12,7.00,False,6567,...,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.90,both,Regularly busy,Regularly busy,Most orders
32434211,3421081,2977660,206209,prior,13,1,12,7.00,False,22920,...,0,both,Roasted & Salted Shelled Pistachios,117,19,1.70,both,Regularly busy,Regularly busy,Most orders

In [74]:
ords_prods_merge['busiest day']. value_counts(dropna = False)

busiest day
Regularly busy        14093045
Busiest day            6209632
Second busiest day     4500246
Second slowest day     3844096
Slowest day            3787193
Name: count, dtype: int64

# Task 4.7

In [48]:
result2 = []

for value in ords_prods_merge["order_dow"]:
  if value == 0:
    result2.append("Busiest day")
  elif value == 6:
    result2.append("Second busiest day")
  elif value == 4:
    result2.append("Slowest day")
  elif value == 3:
    result2.append("Second slowest day")
  else:
    result2.append("Regularly busy")

#Step 2

In [52]:
ords_prods_merge['busiest days'] = result2

In [54]:
ords_prods_merge['busiest days'].value_counts(dropna = False)

busiest days
Regularly busy        14093045
Busiest day            6209632
Second busiest day     4500246
Second slowest day     3844096
Slowest day            3787193
Name: count, dtype: int64

The difference between the second busiest day and second slowest day is not immense, which means that the data in between doesnt vary so much from one day to another.

In [57]:
ords_prods_merge.describe()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.035613e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07
mean,1.709860e+06,1.710748e+06,1.029374e+05,1.714192e+01,2.738810e+00,1.342500e+01,1.110416e+01,2.557778e+04,8.351176e+00,5.896888e-01,7.121649e+01,9.922231e+00,1.198114e+01
std,9.864638e+05,9.872996e+05,5.946649e+04,1.753489e+01,2.090047e+00,4.246351e+00,8.778943e+00,1.409614e+04,7.126688e+00,4.918902e-01,3.820429e+01,6.281190e+00,4.954311e+02
min,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.556130e+05,8.559450e+05,5.142000e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353500e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.709152e+06,1.711049e+06,1.026125e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565947e+06,2.565510e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421081e+06,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04

In [80]:
pd.set_option('display.float_format', '{:.2f}'.format)
# to disable the scientific notation

In [61]:
ords_prods_merge.describe()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,32434212.00,32434212.00,32434212.00,32434212.00,32434212.00,32434212.00,30356128.00,32434212.00,32434212.00,32434212.00,32434212.00,32434212.00,32434212.00
mean,1709860.21,1710747.96,102937.37,17.14,2.74,13.42,11.10,25577.78,8.35,0.59,71.22,9.92,11.98
std,986463.81,987299.60,59466.49,17.53,2.09,4.25,8.78,14096.14,7.13,0.49,38.20,6.28,495.43
min,0.00,2.00,1.00,1.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00,1.00,1.00
25%,855613.00,855945.00,51420.00,5.00,1.00,10.00,5.00,13535.00,3.00,0.00,31.00,4.00,4.20
50%,1709152.00,1711049.00,102612.50,11.00,3.00,13.00,8.00,25256.00,6.00,1.00,83.00,9.00,7.40
75%,2565947.00,2565510.00,154391.00,24.00,5.00,16.00,15.00,37935.00,11.00,1.00,107.00,16.00,11.30
max,3421081.00,3421083.00,206209.00,99.00,6.00,23.00,30.00,49688.00,145.00,1.00,134.00,21.00,99999.00

Step 4: Orders are placed all day long, the majority of it being between 10:00am - 4:00pm. Therefore, "most orders" label would go to the orders placed during this period. "Average orders" go to all the orders placed between 00:00 and 10:00am, while fewest orders go to everything else.

In [66]:
result3 = []

for hour in ords_prods_merge['order_hour_of_day']:
    if 10 <= hour <= 16:
        result3.append("Most orders")
    elif 0 <= hour < 10:
        result3.append("Average orders")
    else:
        result3.append("Fewest orders")

# Add the result as a new column in the dataframe
ords_prods_merge['busiest_period_of_day'] = result3

In [72]:
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)
# Step 5: check the frequency for this new column.

busiest_period_of_day
Most orders       18680601
Fewest orders      7797484
Average orders     5956127
Name: count, dtype: int64

In [86]:
ords_prods_merge.to_pickle(r'C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Prepared Data\'updated_orders.pkl')